# Normalise les fins de ligne en LF dans le repo
* text=auto eol=lf

# Fichiers binaires — pas de conversion
*.png binary
*.jpg binary
*.wav binary
*.sf2 binary
*.sfz binary
*.exe binary
*.dll binary
*.lib binary
*.pdb binary
